tqdm
datasets
chai_guanaco
numpy >= 1.12.1
scipy >= 1.0.1
torch >= 2.0.0
accelerate == 0.25.0
bitsandbytes == 0.41.0
peft == 0.7.1
transformers == 4.36.2
flash-attn == 2.3.3
fasttext-wheel
zstandard
jsonlines
wandb
openai
sentencepiece
fire
pillow
